@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: "Playfair display", serif;
    background-color: black;
    height: 100vh;
    margin: 0rem;
    overflow: hidden;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    height: 100vh;
    z-index: 1;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 3;
    width: 65vh;
    padding: 20px;
    font-size: 4vmax;
    color: white;
    align-self: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    height: 24vh;
}

.title {
    font-size: 8vh;
}

.text {
    font-size: 2.5vh;
    word-wrap: break-word;
}

#blob {
    background-color: white;
    height: 40vmax;
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(
    to right,
    aquamarine,
    mediumpurple 
    );
    animation: rotate 20s infinite;
    opacity: 0.4;
    
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    50% {
        transform: translate(-50%, -50%) scale(1, 1.5);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    
}

#blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(50vmax);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    z-index: 4;
}

footer img {
    width: 4vh;
    height: 4vh;
    z-index: 4;
}

#hamburger-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    margin: 20px;
    color: black;
    background-color: white;
    background-repeat: no-repeat;
    border: gray;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 3.25vh;
    border-radius: 10px;
    padding: 0.75vh;
    
}

.menu-container {
  display: flex;
  justify-content: flex-end;
  
  position: absolute;
  top: 0;
  right: 0;
  
}

#language {
  
  z-index: 4;
  margin: 20px;
  margin-right: 12rem;
  color: black;
  background-color: white;
  background-repeat: no-repeat;
  border: gray;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 3.25vh;
  border-radius: 10px;
  padding: 0.75vh;

}

#hamburger-menu {
    display: block;
}

#menu {
    display: none;
}

#menu.active {
    display: flex;
}

.container.inactive {
    display: none;
}

#menu {  
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100vw;
  }

  
#menu-items {
    margin-left: clamp(4rem, 20vw, 48rem);
    position: relative;
    z-index: 2;
  }
  
#menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -25%;
  }
  
#menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -50%;
  }
  
#menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -75%;
  }
/*
#menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -100%;
  }
*/
  
#menu-background-pattern {
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.1) 9%, 
      transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    height: 100vh;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease, 
      background-size 800ms ease,
      background-position 800ms ease;
    width: 100vw;
    z-index: 1;
  }
  
  
  
#menu-items:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
  }
  
#menu-items:hover ~ #menu-background-image {
    background-size: 100vmax;
    opacity: 0.1;
  }
  
#menu-items:hover > .menu-item {
    opacity: 0.3;
  }
  
#menu-items:hover > .menu-item:hover {
    opacity: 1; 
  }


  
.menu-item {
    color: white;
    cursor: pointer;
    display: block;
    font-family: 'Playfair display', serif;
    font-size: clamp(3rem, 8vw, 8rem);
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    text-decoration: none;
    transition: opacity 400ms ease;
}

