@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "B612";
    background-color: black;
    height: 100vh;
    margin: 0rem;
    overflow: hidden;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    height: 100vh;
    z-index: 1;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 3;
    width: 65vh;
    padding: 20px;
    font-size: 4vmax;
    color: white;
    align-self: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    height: 25vh;
}

.title {
    font-size: 10vh;
}

.text {
    font-size: 2.5vh;
    word-wrap: break-word;
}

#blob {
    background-color: white;
    height: 40vmax;
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(
    to right,
    aquamarine,
    mediumpurple 
    );
    animation: rotate 20s infinite;
    opacity: 0.4;
    
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    50% {
        transform: translate(-50%, -50%) scale(1, 1.5);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    
}

#blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(50vmax);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    z-index: 4;
}

footer img {
    width: 40px;
    height: 40px;
}